.goit {
  &__contents {
    list-style: none;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;

    @media screen and (max-width: 1023px) {
      padding-left: 0;
      font-size: 18px;
    }

    & li {
      @media screen and (max-width: 1023px) {
        padding: 5px 0;
      }
    }

    & span {
      font-weight: 400;
    }
  }
}

h2 {
  & span {
    font-weight: 400;
  }
}
